<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/admin.css">
    <title>Admin Panel</title>
</head>

<body>
    <div class="container">
        <div class="content">
            <div class="cards">
                <div class="card">
                    <div class="box">
                        <h1>999</h1>
                        <h3>Enrollments</h3>
                    </div>
                    <div class="icon-case">
                        <img src="students.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>999</h1>
                        <h3>Instructors</h3>
                    </div>
                    <div class="icon-case">
                        <img src="teachers.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>999</h1>
                        <h3>Courses</h3>
                    </div>
                    <div class="icon-case">
                        <img src="schools.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>999</h1>
                        <h3>Income</h3>
                    </div>
                    <div class="icon-case">
                        <img src="income.png" alt="">
                    </div>
                </div>
            </div>
            <div class="content-2">
                <div class="recent-payments">
                    <div class="title">
                        <h2>Recent Payments</h2>
                        <a href="#" class="btn">View All</a>
                    </div>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Course</th>
                            <th>Amount</th>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>Lorem ipsum</td>
                            <td>999</td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>Lorem ipsum</td>
                            <td>999</td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>Lorem ipsum</td>
                            <td>999</td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>Lorem ipsum</td>
                            <td>999</td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>Lorem ipsum</td>
                            <td>999</td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>Lorem ipsum</td>
                            <td>999</td>
                        </tr>
                    </table>
                </div>
                <div class="new-students">
                    <div class="title">
                        <h2>New Students</h2>
                        <a href="#" class="btn">View All</a>
                    </div>
                    <table>
                        <tr>
                            <th>Profile</th>
                            <th>Name</th>
                        </tr>
                        <tr>
                            <td><img src="https://via.placeholder.com/50" alt="Profile Picture"></td>
                            <td>John Doe</td>
                        </tr>
                        <tr>
                            <td><img src="https://via.placeholder.com/50" alt="Profile Picture"></td>
                            <td>John Doe</td>
                        </tr>
                        <tr>
                            <td><img src="https://via.placeholder.com/50" alt="Profile Picture"></td>
                            <td>John Doe</td>
                        </tr>
                        <tr>
                            <td><img src="https://via.placeholder.com/50" alt="Profile Picture"></td>
                            <td>John Doe</td>
                        </tr>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
</body>

</html>
