<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/styles/carousel.css">
</head>
<body>
    <section class="mycarousel">
        <div class="container">
            <div class="carousel-item">
                <div class="carousel-content">
                    <p><sup><i class="fa-solid fa-quote-left left-icon"></i></sup>Indramala Yoga @ Sb road is a gem! Shiv sir's advanced yoga classes are nothing short of amazing. His expertise shines through in every session, especially during Ariel yoga. What truly sets this place apart is Shiv sir's personal connection with every student. His guidance is exceptional, fostering an environment where you feel supported and motivated.<sup><i class="fa-solid fa-quote-right right-icon"></i></sup></p>
                </div>
                <div class="person">
                    <!-- <img src="/static/assets/placeholderpfp.png" alt=""> -->
                    <ul> 
                        <li>Rinku B</li>
                    </ul>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-content">
                    <p><sup><i class="fa-solid fa-quote-left"></i></sup>It's been more than 7 months with the Indramala Yoga Sansthan and had an exceptional experience. The instructor was incredibly knowledgeable and guided the class with expertise, catering to all skill levels. Highly recommend this class for anyone looking to enhance their yoga practice from basic to advanced level.<sup><i class="fa-solid fa-quote-right"></i></sup></p>
                </div>
                <div class="person">
                    <!-- <img src="/static/assets/placeholderpfp.png" alt=""> -->
                    <ul> 
                        <li>Rahul S</li>
                    </ul>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-content">
                    <p><sup><i class="fa-solid fa-quote-left"></i></sup>Before writing about Indramala Yoga Sansthan, I would like to share that I have gone through the major spine surgery last year. I have joined Indramala Yoga Sansthan last month and ilt has been a great experience so far. They have designed a separate protocol for me to take care of my spine. I feel very relaxed now.<sup><i class="fa-solid fa-quote-right"></i></sup></p>
                </div>
                <div class="person">
                    <!-- <img src="/static/assets/placeholderpfp.png" alt=""> -->
                    <ul> 
                        <li>Tejas J</li>
                    </ul>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-content">
                    <p><sup><i class="fa-solid fa-quote-left"></i></sup>I used experience shoulder and neck pain due to my IT job and long hours of sitting. However ,after enrolling at the Indramala Yoga, all my pain disappeared, and I felt incredible. The experience and following Shiv Sir's guidance has been immediately helpful. I'm grateful to Shiv Sir for his support and guidance.<sup><i class="fa-solid fa-quote-right"></i></sup></p>
                </div>
                <div class="person">
                    <!-- <img src="/static/assets/placeholderpfp.png" alt=""> -->
                    <ul> 
                        <li>Harish P</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</body>
</html>