<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indramala Yoga Sansthan</title>
    <link rel="stylesheet" href="/static/styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/assets/favico.webp">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="/static/assets/website_icon.webp" alt="Indramala Yoga Sansthan">
        </div>
        <div id="nav">
            <ul class="nav-links">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#testimonial">Testimonial</a></li>
                <li><a href="#hello">Our Founder</a></li>
                <li><a href="#team">Our Team</a></li>
                <li><a href="#joinus">Join Us</a></li>
            </ul>
        </div>
        <div class="social-media">
            <a href="instagram_link" target="_blank"><img src="/static/assets/iglogo.png" alt="Instagram"></a>
        </div>
    </nav>

    <section id="home" class="home-section">
        <div class="home-container">
            <h1 class="playfair-display-main-heading">Welcome To The <br>World of Yoga</h1>
            <p>Experience the tranquility and rejuvenation with our comprehensive yoga sessions designed for everyone.</p>
            <button class="cta-button" onclick="window.location.href='/templates/login.html';">Join Us Now</button>
        </div>
    </section>

    <section id="about" class="about-section">
        <div id="about-img">
            <img src="/static/assets/grp.webp" alt="Indramala Yoga Sansthan">
        </div>
        <div class="about-container">
            <h1>We Are Indramala Yoga Sansthan</h1>
            <h5>Our Vision</h5>
            <p>At Indramala Yoga Sansthan, our vision is to create a world where individuals are empowered 
                to cultivate holistic well-being, inner peace, and personal transformation through the practice of yoga. 
                We envision a community where everyone has access to the tools and support they need to thrive physically, 
                mentally, and spiritually.</p>
            <h5>Our Mission</h5>
            <p>Our mission at Indramala Yoga Sansthan is to provide a nurturing and inclusive 
                space where individuals of all background and abilities can explore the transformative power of yoga.</p>
        </div>
    </section>
    <section id="yoga-benefits" class="yoga-benefits-section">
        <div class="benefits-container">
            <img src="/static/assets/yoga.webp" alt="How Yoga Transforms Body">
        </div>
        <div class="class-info-container">
            <img src="/static/assets/yoga2.webp" alt="Join Our Online - Offline Classes">
        </div>
    </section>

    <section id="services" class="services-section">
        <h2 class="services-heading">Our Services</h2>
        <div class="services-container autoplay">
            <div class="service-card">
                <img src="/static/assets/placeholder.webp" alt="Hatha Yoga Image" class="service-image">
                <div class="service-content">
                    <h3 class="service-title">Hatha Yoga</h3>
                    <p class="service-description">Embrace balance and harmony through deliberate postures and controlled breathing in Hatha Yoga.</p>
                </div>
            </div>
            <div class="service-card">
                <img src="/static/assets/placeholder.webp" alt="Iyengar Yoga Image" class="service-image">
                <div class="service-content">
                    <h3 class="service-title">Iyengar Yoga</h3>
                    <p class="service-description">Precision and alignment take center stage in Iyengar Yoga, enhancing strength and flexibility.</p>
                </div>
            </div>
            <div class="service-card">
                <img src="/static/assets/placeholder.webp" alt="Ashtanga Yoga Image" class="service-image">
                <div class="service-content">
                    <h3 class="service-title">Ashtanga Yoga</h3>
                    <p class="service-description">Flow seamlessly through a dynamic series of postures, synchronizing breath and movement in Ashtanga Yoga.</p>
                </div>
            </div>
            <div class="service-card">
                <img src="/static/assets/placeholder.webp" alt="Power Yoga Image" class="service-image">
                <div class="service-content">
                    <h3 class="service-title">Power Yoga</h3>
                    <p class="service-description">Energize your body and mind with a dynamic fusion of strength-building poses in Power Yoga.</p>
                </div>
            </div>
            <div class="service-card">
                <img src="/static/assets/placeholder.webp" alt="Aerial Yoga Image" class="service-image">
                <div class="service-content">
                    <h3 class="service-title">Aerial Yoga</h3>
                    <p class="service-description">Defy gravity and enhance flexibility as you experience yoga suspended in the air with Aerial Yoga.</p>
                </div>
            </div>
            <div class="service-card">
                <img src="/static/assets/placeholder.webp" alt="Core Yoga Image" class="service-image">
                <div class="service-content">
                    <h3 class="service-title">Core Yoga</h3>
                    <p class="service-description">Strengthen and tone your core muscles while improving overall flexibility in Core Yoga.</p>
                </div>
            </div>
            <div class="service-card">
                <img src="/static/assets/placeholder.webp" alt="Stress Management Image" class="service-image">
                <div class="service-content">
                    <h3 class="service-title">Stress Management</h3>
                    <p class="service-description">Cultivate inner calmness and resilience through practices tailored for effective stress management.</p>
                </div>
            </div>
            <div class="service-card">
                <img src="/static/assets/placeholder.webp" alt="Meditation Image" class="service-image">
                <div class="service-content">
                    <h3 class="service-title">Meditation</h3>
                    <p class="service-description">Discover serenity within through mindfulness and meditation practices.</p>
                </div>
            </div>
            <div class="service-card">
                <img src="/static/assets/placeholder.webp" alt="Weight Loss Yoga Image" class="service-image">
                <div class="service-content">
                    <h3 class="service-title">Weight Loss Yoga</h3>
                    <p class="service-description">Harness the power of yoga to support your weight loss journey with tailored poses and mindful practices.</p>
                </div>
            </div>
            <div class="service-card">
                <img src="/static/assets/placeholder.webp" alt="Advanced Yoga Image" class="service-image">
                <div class="service-content">
                    <h3 class="service-title">Advanced Yoga</h3>
                    <p class="service-description">Elevate your practice with challenging postures and advanced techniques in our Advanced Yoga classes.</p>
                </div>
            </div>
            <div class="service-card">
                <img src="/static/assets/placeholder.webp" alt="Competitive Image" class="service-image">
                <div class="service-content">
                    <h3 class="service-title">Competitive Yoga</h3>
                    <p class="service-description">Channel your yoga prowess in a competitive setting, fostering growth and excellence.</p>
                </div>
            </div>
            <div class="service-card">
                <img src="/static/assets/placeholder.webp" alt="Pregnancy Yoga Image" class="service-image">
                <div class="service-content">
                    <h3 class="service-title">Pregnancy Yoga</h3>
                    <p class="service-description">Channel your yoga prowess in a competitive setting, fostering growth and excellence.</p>
                </div>
            </div>
            <div class="service-card">
                <img src="/static/assets/placeholder.webp" alt="Yoga Therapy Image" class="service-image">
                <div class="service-content">
                    <h3 class="service-title">Yoga Therapy</h3>
                    <p class="service-description">Channel your yoga prowess in a competitive setting, fostering growth and excellence.</p>
                </div>
            </div>
            <div class="service-card">
                <img src="/static/assets/placeholder.webp" alt="Kids Yoga Image" class="service-image">
                <div class="service-content">
                    <h3 class="service-title">Kids Yoga</h3>
                    <p class="service-description">Channel your yoga prowess in a competitive setting, fostering growth and excellence.</p>
                </div>
            </div>
        </div>
    </section>
    <section id= "specialbatches" class="specialbatches-section">
        <div class="special-container">
            <img src="/static/assets/placeholderbrown.webp" alt="placeholder-image" class="placeholder-image">
            <div class="specialbatchescard">
                <h1>Special Batches for Teacher Training Program</h1>
                <p>Tailored sessions designed to equip aspiring yoga instructors with the knowledge and skills needed for a transformative Teacher Training Program.</p>
                <button type="button">Get In Touch</button>
            </div>
        </div>
    </section>
    <section id="hello" class="hello-section">
        <div class="hello-img">
            <img src="/static/assets/Founder.webp" alt="Indramala Yoga Sansthan">
        </div>
        <div class="hello-container">
            <h1>Hello from the Founder</h1>
            <p>Hello! I am Shivprakash Sharma - a yoga coach with expertise in Hatha Yoga, Power Yoga, Vinyasa flow, yoga therapist, 
                prenatal yoga,Iyengar Yoga, Aerial Yoga, and Traditional Yoga.</p>

            <p>My passion lies in guiding individuals towards holistic well-being through the integration of these diverse yoga practices.
                 Let's embark on a transformative journey to nurture your mind, body, and spirit!</p>
        </div>  

    </section>
    <section id="praise" class="praise-section">
        <div class="praise-container">
            <h1><b>Praise</b></h1>
            <p>Feedback From Our Practitioners</p>
            <div class="testimonial-container">
                <div class="testimonial card">
                    <div class="quote-icon">“”</div>
                    <p>This is your Testimonial quote. It’s a great place to share a review about you, your business and your services. Add client details for extra credibility and get your site visitors excited to practice with you!</p>
                    <h4>Kris Michaels</h4>
                </div>
                <div class="testimonial card">
                    <div class="quote-icon">“”</div>
                    <p>This is your Testimonial quote. It’s a great place to share a review about you, your business and your services. Add client details for extra credibility and get your site visitors excited to practice with you!</p>
                    <h4>Frankie Bolder</h4>
                </div>
                <div class="testimonial card">
                    <div class="quote-icon">“”</div>
                    <p>This is your Testimonial quote. It’s a great place to share a review about you, your business and your services. Add client details for extra credibility and get your site visitors excited to practice with you!</p>
                    <h4>Robbie White</h4>
                </div>
            </div>
        </div>
    </section>
    
    <section id="ourteam" class="ourteam-section">
        <div class="ourteam-wrapper">
            <h1><b>Our Team</b></h1>
            <p>Discover the passionate team behind Indramala Yoga, dedicated to guiding your transformative journey. Our diverse instructors bring expertise in various yoga disciplines, offering support for every level. Join our vibrant community and find your path to inner harmony with us.</p>
        </div>
        <div class="ourteam-container">
            <div class="team-member">
                <div class="member-image">
                    <img src="team-member1.jpg" alt="Team Member 1">
                </div>
                <div class="member-text">
                    <h4>Suman Singh</h4>
                    <p>Head Coach<br>Assistant Yoga Therapist, Meditation Coach</p>
                </div>
            </div>
            <div class="team-member">
                <div class="member-image">
                    <img src="team-member2.jpg" alt="Team Member 2">
                </div>
                <div class="member-text">
                    <h4>Jayprakash Sharma</h4>
                    <p>Hatha Yoga, Power Yoga, Advanced Yoga Coach</p>
                </div>
            </div>
            <div class="team-member">
                <div class="member-image">
                    <img src="team-member3.jpg" alt="Team Member 3">
                </div>
                <div class="member-text">
                    <h4>Reena Jani</h4>
                    <p>Traditional Yoga Coach</p>
                </div>
            </div>
            <div class="team-member">
                <div class="member-image">
                    <img src="team-member4.jpg" alt="Team Member 4">
                </div>
                <div class="member-text">
                    <h4>Nikita Gujrathi</h4>
                    <p>Hatha Yoga Coach</p>
                </div>
            </div>
            <div class="team-member">
                <div class="member-image">
                    <img src="team-member5.jpg" alt="Team Member 5">
                </div>
                <div class="member-text">
                    <h4>Sushma Agarwal</h4>
                    <p>Power Yoga Coach</p>
                </div>
            </div>
            <div class="team-member">
                <div class="member-image">
                    <img src="team-member6.jpg" alt="Team Member 6">
                </div>
                <div class="member-text">
                    <h4>Rashmi Wathare</h4>
                    <p>Advanced Yoga Coach</p>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.5.2/jquery-migrate.min.js" integrity="sha512-BzvgYEoHXuphX+g7B/laemJGYFdrq4fTKEo+B3PurSxstMZtwu28FHkPKXu6dSBCzbUWqz/rMv755nUwhjQypw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        
            
        $('.autoplay').slick({
            arrows: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            prevArrow: '<i class="fa fa-chevron-left prev-icon"></i>',
            nextArrow : '<i class="fa fa-chevron-right next-icon"></i>',
        });
		
    </script>
				
</body>
<script src="myScript.js"></script>
</html>