<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles/style.css">
        <link rel="stylesheet" href="/static/styles/footer.css">
        <link rel="stylesheet" href="/static/styles/registration.css">
        <link rel="stylesheet" href="/static/styles/carousel.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <title>Document</title>
    </head>
    <body>
        <nav class="nav">
            <header class="header">
                <img src="/static/assets/website_icon.webp" alt="Indramala yoga sansthan logo">
                <ul class="nav-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
                    <li><a href="#">Classes</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">About Us</a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('visionNmission') }}">Our Vision & Mission</a>
                            <a href="#">Our History</a>
                            <a href="#gohere">Meet Our Team</a>
                        </div>
                    </li>
                </ul>
                <button class="join-button" id="openModal">register/login</button>
            </header>
        </nav>
    <section class="hero">
            <div class="container hero-content">
                <div class="hero-images">
                    <img src="/static/assets/img1.png" alt="Yoga pose 1" class="hero-image-left">
                    <img src="/static/assets/img2.png" alt="Yoga pose 2" class="hero-image-right">
                </div>
                <div class="hero-text-content">
                    <h1 class="hero-title">Discover the Blissful Journey of Yoga</h1>
                    <p class="hero-text">Embrace the harmonious union of mind, body, and spirit through our comprehensive yoga offerings.</p>
                    <a href="#" class="hero-button">Explore Now</a>
                </div>
            </div>
    </section>

    <section id="trainers" id = "gohere">
        <div class="team-section">
            <div class="container">
            <div>
                <div class="content">
                    <h2>Suman Singh</h2>
                    <span>Head Coach</span>
                    <span>Asst. Yoga Therapist</span>
                    <span>Meditation Coach</span>
                </div>
            </div>
            <div>
                <div class="content">
                    <h2>Jayprakash Sharma</h2>
                    <span>Hatha Yoga Coach</span>
                    <span>Power Yoga Coach</span>
                    <span>Advanced Yoga Coach</span>
                </div>
            </div>
            <div>
                <div class="content">
                    <h2>Reena Jani</h2>
                    <span>Traditional Yoga Coach</span>
                </div>
            </div>
            <div>
                <div class="content">
                    <h2>Nikita Gujrathi</h2>
                    <span>Hatha Yoga Coach</span>
                </div>
            </div>
            <div>
                <div class="content">
                    <h2>Sushma Agarwal</h2>
                    <span>Power Yoga Coach</span>
                </div>
            </div>
            <div>
                <div class="content">
                    <h2>Rashmi Wathare</h2>
                    <span>Advanced Yoga Coach</span>
                </div>
            </div>
        </div>
         <!-- class="joinus" href="/templates/appl.html">I want to become a trainer  -->
    </div>
</section>

<section class="courses">
    <div class="custom-carousel-container">
        <input class="custom-carousel-radio" type="radio" name="position" />
        <input class="custom-carousel-radio" type="radio" name="position" />
        <input class="custom-carousel-radio" type="radio" name="position" />
        <input class="custom-carousel-radio" type="radio" name="position" />
        <input class="custom-carousel-radio" type="radio" name="position" />
        <input class="custom-carousel-radio" type="radio" name="position" />
        <input class="custom-carousel-radio" type="radio" name="position" />
        <input class="custom-carousel-radio" type="radio" name="position" checked />
        <input class="custom-carousel-radio" type="radio" name="position" />
        <input class="custom-carousel-radio" type="radio" name="position" />
        <input class="custom-carousel-radio" type="radio" name="position" />
        <input class="custom-carousel-radio" type="radio" name="position" />
        <input class="custom-carousel-radio" type="radio" name="position" />
        <input class="custom-carousel-radio" type="radio" name="position" />
        <main class="custom-carousel">
            <div class="custom-carousel-item"> hath yoga</div>
            <div class="custom-carousel-item">Iyengar yoga</div>
            <div class="custom-carousel-item"> ashtanga yoga</div>
            <div class="custom-carousel-item">power yoga</div>
            <div class="custom-carousel-item">aerial yoga</div>
            <div class="custom-carousel-item">Advanced yoga</div>
            <div class="custom-carousel-item">weight loss yoga</div>
            <div class="custom-carousel-item">competitive yoga</div>
            <div class="custom-carousel-item">pregnancy yoga</div>
            <div class="custom-carousel-item">kids yoga</div>
            <div class="custom-carousel-item">Meditation</div>
            <div class="custom-carousel-item">viyasa flow</div>
            <div class="custom-carousel-item">stress managament</div>
            <div class="custom-carousel-item">yog therapy</div>
        </div>
    </section>
    
    <!-- <section class="Bcustom-carousel">
        <div class="Bcustom-container">
            <div class="Bcustom-carousel-item">
                <div class="Bcustom-carousel-content">
                    <p><sup><i class="fa-solid fa-quote-left custom-left-icon"></i></sup>Indramala Yoga @ Sb road is a gem! Shiv sir's advanced yoga classes are nothing short of amazing. His expertise shines through in every session, especially during Ariel yoga. What truly sets this place apart is Shiv sir's personal connection with every student. His guidance is exceptional, fostering an environment where you feel supported and motivated.<sup><i class="fa-solid fa-quote-right custom-right-icon"></i></sup></p>
                </div>
                <div class="Bcustom-person">
                    <img src="/static/assets/placeholderpfp.png" alt="">
                    <ul> 
                        <li>Rinku B</li>
                    </ul>
                </div>
            </div>
            <div class="Bcustom-carousel-item">
                <div class="Bcustom-carousel-content">
                    <p><sup><i class="fa-solid fa-quote-left custom-left-icon"></i></sup>It's been more than 7 months with the Indramala Yoga Sansthan and had an exceptional experience. The instructor was incredibly knowledgeable and guided the class with expertise, catering to all skill levels. Highly recommend this class for anyone looking to enhance their yoga practice from basic to advanced level.<sup><i class="fa-solid fa-quote-right custom-right-icon"></i></sup></p>
                </div>
                <div class="Bcustom-person">
                    <img src="/static/assets/placeholderpfp.png" alt=""> 
                    <ul> 
                        <li>Rahul S</li>
                    </ul>
                </div>
            </div>
            <div class="Bcustom-carousel-item">
                <div class="Bcustom-carousel-content">
                    <p><sup><i class="fa-solid fa-quote-left custom-left-icon"></i></sup>Before writing about Indramala Yoga Sansthan, I would like to share that I have gone through the major spine surgery last year. I have joined Indramala Yoga Sansthan last month and ilt has been a great experience so far. They have designed a separate protocol for me to take care of my spine. I feel very relaxed now.<sup><i class="fa-solid fa-quote-right custom-right-icon"></i></sup></p>
                </div>
                <div class="Bcustom-person">
                    <img src="/static/assets/placeholderpfp.png" alt=""> 
                    <ul> 
                        <li>Tejas J</li>
                    </ul>
                </div>
            </div>
            <div class="Bcustom-carousel-item">
                <div class="Bcustom-carousel-content">
                    <p><sup><i class="fa-solid fa-quote-left custom-left-icon"></i></sup>I used experience shoulder and neck pain due to my IT job and long hours of sitting. However ,after enrolling at the Indramala Yoga, all my pain disappeared, and I felt incredible. The experience and following Shiv Sir's guidance has been immediately helpful. I'm grateful to Shiv Sir for his support and guidance.<sup><i class="fa-solid fa-quote-right custom-right-icon"></i></sup></p>
                </div>
                <div class="Bcustom-person">
                    <img src="/static/assets/placeholderpfp.png" alt=""> 
                    <ul> 
                        <li>Harish P</li>
                    </ul>
                </div>
            </div>
        </div>
        </section> -->
        <section>
            <div class="wowim">
                <img src="/static/assets/yoyo.png" alt="hi">
            </div>
        </section>

<section id="hello" class="hello-section">
    <div class="hello-img">
        <img src="/static/assets/Founder.webp" alt="Indramala Yoga Sansthan">
        </div>
        <div class="hello-container">
            <h1>Hello from the Founder</h1>
            <p>Hello! I am Shivprakash Sharma - a yoga coach with expertise in Hatha Yoga, Power Yoga, Vinyasa flow, yoga therapist, 
                prenatal yoga,Iyengar Yoga, Aerial Yoga, and Traditional Yoga.</p>

            <p>My passion lies in guiding individuals towards holistic well-being through the integration of these diverse yoga practices.
                Let's embark on a transformative journey to nurture your mind, body, and spirit!</p>
        </div>  

    </section>

<section>
    <div class="yogsec">
        <img src="/static/assets/yogsec.png" alt="hi">
    </div>
</section>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h2>Register</h2>
            <form id="registration"  action="{{ url_for('register') }}" method="post" autocomplete="on" onsubmit="return validateForm()">
                <!--First name-->
                <div class="box">
                    <div class="iconBox">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                    <input type="text" name="firstName" placeholder="First Name" class="textBox" autofocus="on"  required>
                </div>
            
                <!--Second name-->
                <div class="box">
                    <div class="iconBox"><i class="fa fa-user" aria-hidden="true"></i></div>
                    <input type="text" required name="secondName" placeholder="Last Name" class="textBox">
                </div>
            
                <!--Phone No.-->
                <div class="box">
                    <div class="iconBox"><i class="fa fa-phone-square" aria-hidden="true"></i></div>
                    <input type="text" required name="phoneNo" maxlength="10" required pattern="[0-9]{10}" placeholder="Phone No." class="textBox">
                </div>
            
                <!--Password-->
                <div class="box">
                    <div class="iconBox"><i class="fa fa-key" aria-hidden="true"></i></div>
                    <input type="password" required name="password" placeholder="Password" maxlength="20" minlength="8" class="textBox" id="password" >
                </div>

                <div class="box">
                    <div class="iconBox"><i class="fa fa-key" aria-hidden="true"></i></div>
                    <input type="password" required name="confirmpassword" placeholder="Confirm Password" maxlength="20" minlength="8" class="textBox" id="confirmpassword" >
                </div>
            
                <!--Gender-->
                <div class="box radio">
                    <label for="gender" class="fl fontLabel">Gender:</label>
                    <input type="radio" name="Gender" value="Male" required> Male &nbsp; &nbsp; &nbsp; &nbsp;
                    <input type="radio" name="Gender" value="Female" required> Female
                </div>
            
                <!--Submit Button-->
                <div class="box" style="background: #2d3e3f">
                    <input type="submit" name="Submit" class="submit" value="SUBMIT">
                </div>

                <a href="{{ url_for('login') }}" id="alrchk">already have an account?</a>
            </form>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Explore</h4>
                    <ul>
                        <li><a href="{{ url_for('vision') }}">Vision & Mission</a></li>
                        <li><a href="#">Distinctive Features</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="#">Documents & Certificate</a></li>
                        <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
                        <li><a href="/static/assets/Yoga Brochure-1.pdf">Brochure</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow Us</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/people/Indramala-yoga-sansthan/100083211976601/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://m.youtube.com/@IndramalayogaSansthan"><i class="fab fa-youtube"></i></a>
                        <a href="https://www.instagram.com/indramala_yoga?igsh=eDk3NmcyZ2JweWtj"><i class="fab fa-instagram"></i></a>
                        <img src="/static/assets/website_icon.webp" alt="">
                    </div>
                </div>
                <div class="footer-col">
                    <h4>Address</h4>
                    <ul class="Address">
                        <li>Plot No. 56, 1st Floor,Shivaji Hsg. Soc, Senapati Bapat Rd, Pune,Maharashtra 411016 (INDIA)</li>
                        <li><h5>Contact us at:</h5>8851246435,<br>9096384926</li>
                        <li><h5>Mail to:</h5>indramalayogasansthan@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script>
let lastScrollTop = 0;
const nav = document.querySelector('nav');

window.addEventListener('scroll', function() {
    let currentScroll = window.pageYOffset || document.documentElement.scrollTop;

    if (currentScroll > lastScrollTop) {
        // Scrolling down - hide the nav
        nav.classList.add('hide');
    } else {
        // Scrolling up - show the nav
        nav.classList.remove('hide');
    }

    lastScrollTop = currentScroll <= 0 ? 0 : currentScroll; // For Mobile or negative scrolling
});


</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/static/scripts/main.js" defer></script>
</html>