<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="/static/styles/login.css">
<meta charset="utf-8">
<title>Join us</title>
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
    <div class="container">
        <div class="flat-form">
            <ul class="tabs">
                <li>
                    <a href="#login" class="active">Login</a>
                </li>
                <li>
                    <a href="#register">Register</a>
                </li>
            </ul>
            <div id="login" class="form-action show">
                <h1>Login</h1>
                <form>
                    <ul>
                        <li>
                            <input type="text" placeholder="Username" />
                        </li>
                        <li>
                            <input type="password" placeholder="Password" />
                        </li>
                        <li>
                            <input type="submit" value="Login" class="button" />
                        </li>
                    </ul>
                </form>
            </div>
            <div id="register" class="form-action hide">
            <h1>Register</h1>

            <form action="/register" method="post" onsubmit="return validateForm()">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" name="name" class="form-control" placeholder="Please enter your name" id="name" required>
                </div>
                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Phone number</label>
                    <input type="tel" name="phone_number" class="form-control" id="phoneNumber" placeholder="123-456-3421" required pattern="[0-9]{10}">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" maxlength="20" minlength="8" placeholder="Please enter the password" id="password" required>
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                    <input type="password" name="confirmpassword" class="form-control" maxlength="20" minlength="8" placeholder="Please confirm the password" id="confirmPassword" required>
                    <small id="passwordMatch" style="color: red;"></small>
                </div>
                <input type="submit" value="Register" class="button" />
            </form>
        </div>

        <script>
            $(function() {
                  // constants
                var SHOW_CLASS = 'show',
                    HIDE_CLASS = 'hide',
                    ACTIVE_CLASS = 'active';
                
                $('.tabs').on('click', 'li a', function(e) {
                    e.preventDefault();
                    var $tab = $(this),
                        href = $tab.attr('href');
                
                    $('.active').removeClass(ACTIVE_CLASS);
                    $tab.addClass(ACTIVE_CLASS);
                
                    $('.show')
                        .removeClass(SHOW_CLASS)
                        .addClass(HIDE_CLASS)
                        .hide();
                    
                    $(href)
                        .removeClass(HIDE_CLASS)
                        .addClass(SHOW_CLASS)
                        .hide()
                        .fadeIn(550);
                });
            });
        
            function validateForm() {
                var password = document.getElementById("password").value;
                var confirmPassword = document.getElementById("confirmPassword").value;
        
                if (password !== confirmPassword) {
                    document.getElementById("passwordMatch").innerText = "Passwords do not match!";
                    return false;
                } else {
                    document.getElementById("passwordMatch").innerText = "";
                    return true;
                }
            }
        </script>
        
</body>
</html>
