<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/admin.css">
    <title>All Students</title>
</head>

<body>
    <div class="container">
        <div class="content">
            <div class="title">
                <h2>All Students</h2>
            </div>
            <table>
                <tr>
                    <th>Profile</th>
                    <th>Name</th>
                </tr>
                {% for student in students %}
                <tr>
                    <td><img src="https://via.placeholder.com/50" alt="Profile Picture"></td>
                    <td>{{ student[0] }} {{ student[1] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>

</html>
