@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    font-family: Raleway, sans-serif;
}

html, body {
    overflow: auto;
    height: 100%;
}

body {
    background: linear-gradient(90deg, #fff4cc, #fadd77); /* Light Cream to Golden Yellow */
}

section {
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(90deg, #ff7f0e, #d35400);
    border-radius: 15px;
    box-shadow: 0px 0px 24px #8c564b; /* Soft Brown shadow */
    max-width: 600px;
    position: relative;
}

::placeholder {
    color: #000000; /* Light grey color */
    opacity: 1; /* Ensures the color is fully applied */
}

.heading {
    text-align: center;
    color: white;
}

.heading h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.heading p {
    margin-bottom: 20px;
}

hr {
    border: none;
    height: 1px;
    background: #8c564b; /* Soft Brown */
    margin-bottom: 30px;
}

.candidate-name,
.dob,
.address-1,
.address-2,
.address-3,
.info,
.job-applying {
    margin-bottom: 20px;
}

.candidate-name input,
.dob select,
.address-1 input,
.address-2 input,
.address-3 input,
.info input,
.job-applying select,
.start-date input {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid #d35400; /* Dark Orange */
    background: none;
    padding: 10px;
    font-weight: 700;
    color: #333; /* Dark text color */
    transition: .2s;
}

.candidate-name input:focus,
.dob select:focus,
.address-1 input:focus,
.address-2 input:focus,
.address-3 input:focus,
.info input:focus,
.job-applying select:focus,
.start-date input:focus {
    outline: none;
    border-bottom-color: #ff7f0e; /* Vibrant Orange */
}

.submit-form {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.submit-form input {
    width: 100px;
    height: 40px;
    background: #fff4cc; /* Light Cream */
    color: #333; /* Dark text color */
    border-radius: 20px;
    border: 1px solid #d35400; /* Dark Orange */
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0px 2px 2px #8c564b; /* Soft Brown shadow */
}

.submit-form input:hover {
    border-color: #ff7f0e; /* Vibrant Orange */
}
