
.carousel-item{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.carousel-item p{
    display: inline-block;
    position: relative;
    left : 23rem;
    padding: 0 2.5rem;
    text-align: center;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    line-height: 26.4px;
    font-size: 1.5rem;
    font-style: italic;
}
.fa-quote-right{
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(246,203,98);
}
.fa-quote-left{
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(246,203,98);
}
.person{
    display: flex;
    justify-content: center;
}
.person ul{
    list-style: none;
}
.person img{
    border-radius: 67%;
    height: 4rem;
}
.person ul li:nth-child(1){
    font-weight: 900;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}